html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto;
  }

/* Navbar */
.navbar-brand > img{
    width: 100px;
    height: auto;
}

/* Main  */

.dataContainer { grid-area: dataContainer; }
.sortbar { grid-area: sortbar; }
.show-more { grid-area: show-more;}
footer { grid-area: footer; }
.sidebar { grid-area: sidebar;}
.product-description { grid-area: product-description; }

.fluid {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main {
    margin-top: 70px;
    display: grid;
    grid-template-areas:
        'sidebar product-description product-description product-description product-description sortbar'
        'sidebar dataContainer dataContainer dataContainer dataContainer dataContainer'
        'sidebar dataContainer dataContainer dataContainer dataContainer dataContainer'
        'sidebar show-more show-more show-more show-more show-more'
        'footer footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
}

/* Sidebar  */

.sidebar {
    width: 250px;
    border-radius: 1rem;
    padding: 1rem;
    height: fit-content;
    z-index: 0;
}

.manList {
    background-color: white;
    height: 200px;
    border-radius: 1rem;
    overflow-y: scroll;
    list-style: none;
    border: 1px solid lightgray;
    padding: 1rem;
}


.manList > li > input {
    margin-right: 5px;
}

.filter-button {
    width: 40%;
}

.priceFilter { 
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
}

#lowestPrice {
    justify-self: end;
}

#highestPrice {
    justify-self: start;
}

.priceFilter > p {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    justify-self: center;
}

.price-input:focus {
    outline: none;
}

#lowestPrice, #highestPrice {
    width: 75px;
    padding: 0;
    overflow: unset;
    
}

.sidebar-assist {
    z-index: -1;
}

.price-input {
    padding-left: 5px !important;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

/* Product description  */

.product-description {
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.category-name {
    font-size: large;
    font-weight: bold;
}

/* Sort bar  */

.sortbar {
    border-radius: 1rem;
    grid-column: 1fr;

}

/* Data container  */


/* Card */

.card > img{
    height: 100px;
}

.card:hover {
    box-shadow: 0px 0px 5px gray;
}

.checked {
    color: orange;
}

/* Show more button  */

.show-more-button {
    margin-top: 1rem;
    width: 18rem;
}

.hide {
    display: none;
}

/* Footer  */

.social { 
    text-decoration: none;
 }

 .copyright {
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
 }

/* Media querries  */

 @media only screen and (max-width: 991px) {
    .sidebar-assist {
        display: none;
    }

    .sidebar-fixed {
        position: relative !important;
        width: 100%;
    }


    .main {
        grid-template-areas:
        'product-description product-description product-description product-description product-description sortbar'
        'sidebar sidebar sidebar sidebar sidebar sidebar'
        'dataContainer dataContainer dataContainer dataContainer dataContainer dataContainer'
        'show-more show-more show-more show-more show-more show-more'
        'footer footer footer footer footer footer';
    }

    
}